
body{
    text-align: center;
}
input{
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    border:2px solid rgb(18, 183, 18);
    outline : none;
}
input:hover{
    background: rgb(234, 228, 228);
}
input:focus {
    border-color:rgb(18, 183, 18);
}
button{
    border: none;
    border-radius: 5px;
    width:100px;
    height: 40px;
    margin: 15px;
    background: rgb(18, 183, 18);
    color : white;
    width: 180px;
}
